<div class="nav clearfix">
     <div class="wrapper">
          <a href="{{site.baseurl}}/design" class="logo">The DaPixel Code</p>
          <nav class="clearfix">
               <ul>
                    <li><a href="{{site.baseurl}}/design">Design</a></li>
                    <li><a href="{{site.baseurl}}/code">Code</a></li>
                    <li><a href="{{site.baseurl}}/code">Videos</a></li>
                    <li><a href="https://www.youtube.com/brehanusoftware" class="youtube" target="_blank"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="https://www.github.com/brehanusoftware" class="github" target="_blank"><i class="fa fa-github"></i></a></li>
               </ul>
          </nav>
     </div>
</div>
